<!DOCTYPE html>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<html>

<head>
  <title>VueJS</title>
  <link rel="stylesheet" href="">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>

  <div id="exercise">
    <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
    <div>
      <button @click="startEffect">Start Effect</button>
      <div id="effect" :class="effects"></div>
    </div>
    <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
    <div :class="['size', 'red']">I got no class :(</div>
    <!-- 3) Let the user enter a class (create some example classes) and attach it -->
    <div>
      <input type="text" v-model="classe">
      <div :class="classe">LITTLE TEXT</div>
    </div>
    <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
    <div>
      <input type="text" v-model="boolean">
      <input type="text" v-model="classe2">
      <div :class="boolean != 'true' ? 'default' : classe2">ANOTHER TEXT</div>
      <!-- <div :class="trueorfalse != 'f' ? classe2 : 'little'">ANOTHER TEXT</div> -->
    </div>
    <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
    <hr>
    <hr>
    <div>
      <input type="text" v-model="estilo">
      <div :style="estilo">LITTLE TEXT FROM EX5</div>
    </div>
    <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
    <div>
      <button @click="progressBar()" >Start Progress</button>
      <div>
        <p class="square" :style="{ height: '15px', width: width + 'px', backgroundColor: progressBarColor}"></p>
      </div>
    </div>
  </div>

</body>
<script src="app.js"></script>

</html>