<!DOCTYPE html>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<html>

<head>
    <title>VueJS</title>
    <link rel="stylesheet" href="">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="demo" :style="{backgroundColor: color}"></div>
        <div class="demo" :style="myStyle"></div>
        <div class="demo" :class="color"></div>
        <br>
        <input type="text" v-model="color">
        <hr>
        <input type="text" v-model="width">
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                color: 'gray',
                width: 100
            },
            computed: {
                myStyle: function (){
                    return {
                        backgroundColor: this.color,
                        width: this.width + 'px',
                        height: this.width + 'px',
                    }
                }
            },
        });
    </script>
    <style>
        .demo {
            width: 100px;
            height: 100px;
            background-color: gray;
            display: inline-block;
            margin: 10px;
        }
    </style>
</body>

</html>